/NRO ZINZIN2025 V3/NRO ZINZIN/.idea/
/NRO ZINZIN2025 V3/NRO ZINZIN/dist/
/NRO ZINZIN2025 V3/NRO ZINZIN/out/
/NRO ZINZIN2025 V3/NRO ZINZIN/logs/
/NRO ZINZIN2025 V3/NRO ZINZIN/web/ngocrongonline.zip

# Local runtime configuration
/NRO ZINZIN2025 V3/NRO ZINZIN/data/config/config.properties